@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center success">
    <h1>Doula Services</h1>
    <p class="lead">This area would describe what a doula is and what kind of services are offered by the doula group.</p>

</div>
